.posts-wrapper
  .row.profile-header
    .col-md-6
      .img-circle
        = profile_avatar_select(@user)
    .col-md-6
      .user-name-and-follow
        %h3.profile-user-name
          = "@#{@user.user_name}"
        %span
          - if @user == current_user
            = link_to "Edit Profile", edit_profile_path(@user.user_name), class: "btn edit-button"
          - else
            = link_to follow_button_text(@user), follow_link_path(@user), remote: true, class: "btn #{follow_or_unfollow(@user)}-button", id: 'unfollow-button', method: :post
      %p.profile-bio
        = @user.bio
      .user-statistics
        %p
          = pluralize @user.posts.count, "post"


#posts
  = render 'posts/posts'

#paginator.text-center
  = link_to_next_page @posts, 'LOAD MORE', remote: true, id: 'load_more'
