.posts-wrapper
  .post
    .post-head
      .thumb-img
      .user-name
        = post.user.try(:user_name) || "Anonymous"
    .image.center-block
      = link_to (image_tag post.image.url(:medium), class:'img-responsive'), post_path(post)
    .post-bottom
      .caption
        .user-name
          = post.user.try(:user_name) || "Anonymous"
        = post.caption
      - if post.comments
        - post.comments.each do |comment|
          .comment
            .user-name
              = comment.user.user_name
            .comment-content
              = comment.content
            - if comment.user == current_user
              = link_to post_comment_path(post, comment), method: :delete, data: { confirm: "Are you sure?" } do
                %button(class="btn-xs btn btn-warning") Remove
    .comment-like-form.row
      .like-button.col-sm-1
        %span(class="glyphicon glyphyicon-heart-empty")
      .comment-form.col-sm-11
        = form_for [post, post.comments.new] do |f|
          = f.text_field :content, placeholder: "Add a comment ... "
          = f.button :submit, class: 'btn-success'
