.text-center
  = image_tag @post.image.url(:medium)
.form-wrapper
  = simple_form_for @post, html: { class: 'form-horizontal',
multipart: true } do |f|
    .form-group
      = f.input :image, required: false
    .form-group.text-center
      = f.input :caption, input_html: { style: "width:400px"}
    .form-group.text-center
      = f.button :submit, class: 'btn-success'
    .text-center
      =link_to "Cancel", posts_path
